<div [class.mobile]="(isHandset$ |async)" [class.custom-carousel-container]="(isHandset$ |async)==false">

  <!-- نمایش اسلاید فعال -->
  <div class="banner-card" [ngStyle]="{'background-image': 'url(' + banners[currentIndex].imageUrl + ')'}">

    <div class="carousel-content">
      <h1>{{ banners[currentIndex].title }}</h1>
      <p>{{ banners[currentIndex].subtitle }}</p>
      <a mat-raised-button color="primary" [href]="banners[currentIndex].link">مشاهده جزئیات</a>
    </div>

  </div>

  <!-- دکمه‌های ناوبری چپ و راست -->
  <button mat-fab color="accent" class="nav-button prev" (click)="prevSlide()">
    <mat-icon>chevron_left</mat-icon>
  </button>

  <button mat-fab color="accent" class="nav-button next" (click)="nextSlide()">
    <mat-icon>chevron_right</mat-icon>
  </button>

  <!-- نشانگرهای پایین (Indicators) -->
   <div class="indicators">
  @for (item of banners; track item.id; let i = $index) {
    <span
      class="indicator-dot"
      [class.active]="i === currentIndex"
      (click)="goToSlide(i)">
    </span>
  }
</div>

</div>
