<mat-card [class.mobile]="(isHandset$|async)" appearance="outlined">
  <mat-card-content>
    <form (ngSubmit)="check()">
      <mat-form-field appearance="outline">
        <mat-label>نام کاربری</mat-label>
        <input name="un" [(ngModel)]="login.username" matInput placeholder="نام کاربری">
        <mat-icon matSuffix>person</mat-icon>
        <mat-hint>وارد کردن نام کاربری الزامی است </mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label> کلمه عبور </mat-label>
        <input name="pw" [(ngModel)]="login.password" matInput placeholder="کلمه عبور">
        <mat-icon matSuffix>locke</mat-icon>
        <mat-hint>وارد کردن کلمه عبور الزامی است </mat-hint>

      </mat-form-field> 
      <mat-checkbox name="km" [(ngModel)]="login.keepMe">مرا بخاطر بسپار</mat-checkbox>
      @if (message!='') {
      <div>{{message}}</div>
      }
      <button [disabled]="!isValid() || busy" mat-flat-button>
        @if(busy){
        <mat-spinner diameter="30"></mat-spinner>
        }
        @else{
        ورود
        }
      </button>

    </form>



  </mat-card-content>

<div class="register-link-container">
  کاربر جدید هستید؟
  <a routerLink="/register">ثبت نام کنید</a>
</div>
</mat-card>
