<mat-card class="basket-container">
  <h2>سبد خرید شما</h2>

  @if (cartItems().length == 0) {
  <div class="empty-message">
    سبد خرید شما خالی است.
  </div>
  }

  @if (cartItems().length > 0) {

  <ul class="item-list">
    @for (item of cartItems(); track item.id) {
    <li class="basket-item">

      <div class="item-details">

        <img mat-card-image src="./images/{{item.imageUrl}}" class="basket-image">
        <div class="item-info">

          <strong class="item-name">{{ item.name }}</strong>
          <span>تعداد:{{ item.count }}</span>
          &nbsp;
          <span>قیمت:{{ item.price }} تومان </span>
          <span>
            قیمت کل:{{ item.price * item.count }} تومان
          </span>

          <div>
            <button (click)="decrease(item.id)">−</button>
            <button (click)="add(item)">+</button>
            <button class="remove-btn" (click)="handleRemove(item.id)">
              حذف
            </button>
          </div>
        </div>
      </div>



    </li>
    }
  </ul>

  <div class="footer">
    <div class="total-price">
      مجموع نهایی:
      <strong>{{ totalPrice() }} تومان</strong>
    </div>

    <button class="clear-all-btn" (click)="clearBasket()">
      تکمیل سفارش و خالی کردن سبد
    </button>
  </div>
  }
</mat-card>
