@use '@angular/material' as mat;

@font-face {
  font-family: Dana;
  src: url('/fonts/Dana.woff2');
}

:root {
  @include mat.toolbar-overrides((title-text-font : Dana,
    ));
}


body {
  height: 100%;
  margin: 0;
  font-family: Dana ;
}
