@use '@angular/material' as mat;

@font-face {
  font-family: Dana;
  src: url('/fonts/Dana.woff2');
}

:root {
  @include mat.toolbar-overrides((
    title-text-font : Dana,

    ));
}

// :root {
//   @include mat.button-overrides((
//     extended-label-text-font:Dana,
//     ));
// }

body {


  font-family: Dana;
  margin: 0;
}

// html{
//   typografy:Dana;
// }
