@use '@angular/material' as mat;

@font-face {
  font-family: Dana;
  src: url('/fonts/Dana.woff2');
}

:root {
  @include mat.toolbar-overrides((title-text-font : Dana,
    ));
}


body {


  font-family: Dana ;
}
// html{
//   typografy:Dana;
// }
