@font-face {
  font-family: Dana;
  src: url('/fonts/Dana.woff2');
}

.delvin-toolbar {
  background-color: rgb(255, 255, 255) !important;
  color: #333333;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  padding: 1em 20px !important;
  height: 64px;


  .logo {
    img {
      height: 40px;
      width: auto;
    }
  }
}

.fx-spacer {
  flex-grow: 1;
}

.desktop-menu {

  a.mat-button {
    margin: 10em;
    padding: 0;

  }
}

button.mat-raised-button {
  // margin-left: 50px;
  text-transform: none;
}

.mobile-menu-button {
  margin-right: 10px;
}


// 1. کانتینر اصلی (برای Overlay)
.sidenav-container {
  // خارج کردن از جریان layout تا فاصله بین هدر و بنر ایجاد نشود
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  overflow: visible;
  z-index: 500;
  // container خودش فضا اشغال نمی‌کند اما sidenav overlay کار می‌کند
}

.sidenav-content-hidden {
  display: none !important;
}

.sidenav-container mat-sidenav {
  position: fixed;
  z-index: 1000;
  width: 200px;

}

mat-nav-list {
  padding: 10px;
  display: flex;
  flex-direction: column;
    font-size: large;

}
