.delvin-toolbar {
  background-color: rgb(255, 255, 255) !important;
  padding: 1em !important;
  height: 70px;
}

.logo {
  img {
    height: 2em;
  }
}


.spacer {
  flex-grow: 1;
}

.desktop-menu {
  a.mat-button {
    margin: 1em;
  }
}


.mobile-menu-button {
  margin-right: 0;
}

.sidenav-container {
  position: absolute;
  // top: 0;
  right: 0;
  // width: 0;
  // height: 0;
  overflow: visible;
  z-index: 100;

  mat-sidenav {
    position: fixed;
    z-index: 1000;
    width: 200px;
  }

  mat-nav-list {
    padding: 10px;
    display: flex;
    flex-direction: column;
    font-size: large;

  }

}

// .sidenav-content-hidden {
//   display: none !important;
// }
